<body>
  <main>
    <div class="container">
      <!--<div class="row">-->
          <p class="notice"></p>
          <h2>マイページ</h2>

          <div class="text-left ml-5 mt-5">
            <p class="notice"></p>
            <span>登録情報</span>&emsp;
            <%= link_to "編集する", customers_information_edit_path(@customer.id), class: "btn btn-success w-25" %>
          </div>
          <p class="notice"></p>

          <table class="my-page-table table-bordered col-xl-7 ml-5 mt-5">
            <tbody>
              <tr>
               <td class="table-active col-5">氏名</td>
               <td>　<%= (@customer.last_name + @customer.first_name) %></td>
              </tr>

              <tr>
               <td class="table-active col-5">カナ</td>
               <td>　<%= (@customer.last_name_kana + @customer.first_name_kana) %></td>
              </tr>

              <tr>
               <td class="table-active col-5">郵便番号</td>
               <td>　〒<%= @customer.postal_code.to_s.insert(3, "-") %></td>
              </tr>

              <tr>
               <td class="table-active col-5">住所</td>
               <td>　<%= @customer.address %></td>
              </tr>

              <tr>
               <td class="table-active col-5">電話番号</td>
               <td>　<%= @customer.telephone_number %></td>
              </tr>

              <tr>
               <td class="table-active col-5">メールアドレス</td>
               <td>　<%= @customer.email %></td>
              </tr>

            </tbody>
          </table>

      <div class="text-left ml-5 mt-5">
        <p class="notice"></p>
        <span>注文履歴</span>&emsp;
        <%= link_to "一覧を見る", orders_path, class: "btn btn-primary w-25" %>
      </div>

    </div>
   </div>
  </main>
</body>