<body>
    <main>
      <div class="container">
        <div class="row">

            <div class="col-xl-10">
              <h3 class="col-sm-2">商品一覧</h3>
            </div>

              <div class="text-right col-xl-2 pt-2">
                <%= link_to new_admin_item_path do %>
                 <button type="button" class="btn-outline-dark btn-circle btn-lg mt-4">＋</button>
                <% end %>
              </div>

              <br>
              <table class="table item-table col-xl-12">
                <thead class="table-active">
                  <tr>
                    <th>商品ID</th>
                    <th>商品名</th>
                    <th>税抜価格</th>
                  </tr>
                </thead>

                <tbody>
                  <% @items.each do |item| %>
                   <tr>
                     <th><%= item.id %></th>
                     <th><%= link_to item.name,admin_item_path(item.id) %></th>
                     <th><%= (item.price).to_s(:delimited) %></th>
                   </tr>
                  <% end %>
                </tbody>
              </table>
         </div>
      </div>

          <br>
          <div class="container">
            <div class="row">
              <div class="col-md-5"></div>
              <div class="paginate-item ml-5">
                <%= paginate @items, class: "center-block" %>
              </div>
            </div>
          </div>
          <br>
    </main>
</body>