<body>
  <main>
    <div class="container">
     <br>
     <h2>商品新規登録</h2>
     <br>
     <br>
     <div class="col-lg-12">

      <%= form_with model: @item, url:admin_items_path, local:true do |f| %>

        <div class="field-group new_item">
         <%= f.label :商品画像, class: "col-lg-2" %>
         <%= f.file_field:image, accept:"image/*" %>
        </div>
        <br>

        <div class="field-group new_item">
         <%= f.label :商品名, class: "col-lg-2" %>
         <%= f.text_field :name, size:"30*5" %>
        </div>
        <br>

        <div class="field-group new_item">
         <%= f.label :商品説明, class: "col-lg-2" %>
         <%= f.text_area :introduction, size:"29*70" %>
        </div>
        <br>

        <div class="field-group new_item">
         <%= f.label :税抜価格, class: "col-lg-2" %>
         <%= f.text_field :price, size:"30*5"%>
         <%= f.label :円 %>
        </div>

        <br>
        <div class="text-center mt-5 ml-2">
         <%= f.submit "新規登録", class: "btn btn-success w-25" %>
        </div>

      <% end %>

     </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  </main>
</body>