<body>
  <main>
      <div class="container">
        <br>
        <h2><%= (@customer.last_name + @customer.first_name) %>さんの会員情報編集</h2>

        <%= form_with(model: @customer, url:admin_customer_path, local: true, method: :patch) do |f| %>

        <br>
        <br>
        <div class="col-xl-12">
            <table class="customer-edit col-xl-8">
              <tr>
                <th><%= f.label :"会員ID" %></th>
                <td><%= f.label :"#{@customer.id}" %></td>
              </tr>

              <tr>
                <th><%= f.label :"氏名" %></th>
                <td>
                  <%= f.text_field :last_name %>&emsp;&emsp;
                  <%= f.text_field :first_name %>
                </td>
              </tr>

              <tr>
                <th><%= f.label :"フリガナ" %></th>
                <td>
                  <%= f.text_field :last_name_kana %>&emsp;&emsp;
                  <%= f.text_field :first_name_kana %>
                </td>
              </tr>

              <tr>
                <th><%= f.label :"郵便番号" %></th>
                <td><%= f.text_field :postal_code %></td>
              </tr>

              <tr>
                <th><%= f.label :"住所" %></th>
                <td><%= f.text_field :address, size:"46*5" %></td>
              </tr>

              <tr>
                <th><%= f.label :"電話番号" %></th>
                <td><%= f.text_field :telephone_number %></td>
              </tr>

              <tr>
                <th><%= f.label :"メールアドレス" %></th>
                <td><%= f.text_field :email %></td>
              </tr>

              <tr>
                <th><%= f.label :"会員ステータス" %>
                <td>
                  <%= f.radio_button :is_deleted, false %>
                  <%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
                  <%= f.radio_button :is_deleted, true %>
                  <%= f.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
                </td>
              </tr>
            </table>
            <br>
            <br>
            <div class="btn-class text-center">
              <%= f.submit '変更を保存', class: "btn btn-success w-25" %>
            </div>

            <% end %>
        </div>
      </div>
      <br>
      <br>
  </main>
</body>