<body>
  <main>
    <div class="container">
      <br>
      <h2>注文情報確認</h2>

      <br>
      <div class="row">
        <div class="col-md-8 ml-5">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="table-active">商品名</th>
                <th class="table-active">単価（税込）</th>
                <th class="table-active">数量</th>
                <th class="table-active">小計</th>
              </tr>
            </thead>

            <tbody>
            <% @cart_items.each do |cart_item| %>
             <tr>
               <td>
                 <%= image_tag cart_item.item.get_image, fallback: 'no_image.jpg', size:'40x30' %>
                 <%= cart_item.item.name %>
               </td>
               <td><%= (cart_item.item.price*1.1).floor.to_s(:delimited) %></td>
               <td><%= cart_item.amount %></td>
               <td><%= cart_item.subtotal.to_s(:delimited) %></td>
               <% @total_price += cart_item.subtotal %>
             </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <br>


      <%= form_with model: @order, url: orders_path, local: true do |f| %>
        <div class="col-xs-12 ml-5">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="confirm-td table-active">送料</td>
                <td>
                  <%= @order.postage.to_s(:delimited) %>
                  <%= f.hidden_field :postage, :value => @order.postage %>
                </td>
              </tr>

              <tr>
                <td class="confirm-td table-active">商品合計</td>
                <td><%= @total_price.to_s(:delimited) %></td>
                <%= f.hidden_field :total_price, :value => @total_price+800 %>
              </tr>

              <tr>
                <td class="confirm-td table-active">請求金額</td>
                <td><%= (@total_price+800).to_s(:delimited) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

        <div class="row ml-5 mt-5">
            <h4>支払方法</h4>&emsp;
            <%= @order.payment_method_i18n %>
            <%= f.hidden_field :payment_method, :value => @order.payment_method %>
        </div>

        <br>
        <div class="row ml-5">
         <h4>お届け先</h4>&emsp;
           〒<%= @order.postal_code.to_s.insert(3, "-") %>
           <%= f.hidden_field :postal_code, :value => @order.postal_code %>
           <%= @order.address %></br>
           <%= f.hidden_field :address, :value => @order.address %>
           &ensp;&emsp;<%= @order.name %>
           <%= f.hidden_field :name, :value => @order.name %>
        </div>

        <br>
        <br>
        <div class="text-center">
          <%= f.submit "注文を確定する", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
    <br>
    <br>
  </main>
</body>