<body>
  <main>
    <div class="container">
      <p class="notice"></p>
      <h3>注文履歴詳細</h3>
      <div class="row">
        <p class="notice"></p>
        <div class="col-sm-5 ml-5">
          <p class="notice"></p>
          <b style="padding-left:12px;">注文情報</b>
          <p class="notice"></p>
           <table class="table order-show-table table-bordered">
             <tbody>
               <tr>
                 <td class="table-active">注文日</td>
                 <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
               </tr>

               <tr>
                 <td class="table-active">配送先</td>
                 <td>
                   〒<%= @order.postal_code %>
                   <%= @order.address %></br>
                   <%= @order.name %>
                 </td>
               </tr>

               <tr>
                 <td class="table-active">支払方法</td>
                 <td><%= @order.payment_method_i18n %></td>
               </tr>
             </tbody>
           </table>
        </div>

        <div class="col-sm-3 table-price">
          <p class="notice"></p>
          <b style="padding-left:12px;">請求情報</b>
          <p class="notice"></p>
          <table class="table order-show-table table-bordered">
            <tbody>
              <tr>
                <td class="table-active">商品合計</td>
                <td><%= (@order.total_price - @order.postage).to_s(:delimited) %></td>
              </tr>

              <tr>
                <td class="table-active">配送料</td>
                <td><%= @order.postage %></td>
              </tr>

              <tr>
                <td class="table-active">ご請求額</td>
                <td><%= @order.total_price.floor.to_s(:delimited) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-8 mt-5 ml-5">
          <b style="padding-left:12px;">注文内容</b>
          <p class="notice"></p>
          <table class="table order-show-table table-bordered">
            <thead>
              <tr>
                <th class="table-active">商品</th>
                <th class="table-active">単価（税込）</th>
                <th class="table-active">個数</th>
                <th class="table-active">小計</th>
              </tr>
            </thead>

            <tbody>
            <% @order_details.each do |order_detail| %>
              <tr>
                <td><%= order_detail.item.name %></td>
                <td><%= (order_detail.price*1.1).floor.to_s(:delimited) %></td>
                <td><%= order_detail.amount %></td>
                <td><%= (order_detail.price * order_detail.amount * 1.1).floor.to_s(:delimited) %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
  </main>
</body>