<body>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
           <br>
           <h2>商品一覧</h2>
           <strong>（全<%= @items.count %>件）</strong>
           <p class="notice"></p>
        </div>

      <div class="container ml-5">
        <din class="row">
           <% @items.each do |item| %>
            <div class="item-list mr-3">
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.get_image, fallback: 'no_image.jpg', size:'200x180' %></br>
              <% end %>
              <%= item.name %></br>
              ¥<%= (item.price*1.1).floor.to_s(:delimited) %>
            </div>
           <% end %>
        </din>
      </div>

         <p class="notice"></p>
         <div class="paginate-item mx-auto">
           <%= paginate @items %>
         </div>
      </div>
    </div>
    <br>
  </main>
</body>