<body>
  <main>
    <div class="container mx-auto">
      <div class="row">
        <br>
        <br>
          <div class="col-md-12 item-show mt-5">
              <div class="show-image d-block">
                <%= image_tag @item.get_image, size: "300x300" %>
              </div>

              <div class="col-xl-5 ml-5 mt-4">
                <p class="notice"></p>
                <h1><%= @item.name %></h1></br>
                <h4 class="item-introduction"><%= @item.introduction %></h4>
                <p class="notice"></p>
                <h1>¥<%= (@item.price*1.1).floor.to_s(:delimited) %><span>（税込）</span></h1>

              <br>
              <!--<div class="col-xl-12">-->
                <% if customer_signed_in? %>
                 <%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
                  <p class="notice"></p>
                  <div class="form-group" >
                   <%= f.hidden_field :item_id, :value => @item.id %>
                   <%= f.select :amount, [*(1..10)], include_blank:"個数選択" %>&emsp;
                   <%= f.submit 'カートに入れる', class: "btn btn-success" %>
                  <!--</div>-->
                 <% end %>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  </main>
</body>